<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <nav class="nav justify-content-start"">
      <a class="nav-link active fs-2" aria-current="page" href="#">Team Picker</a>
    </nav>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cohorts">Cohorts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cohorts/new">New Cohort</a>
        </li>
      </ul>

  </div>
